<h1>Delete a Book</h1>

<%= render 'form', book: @book %>
<p>Are you sure you want to delete this book</p>


<div class ="form button">
    <%= f.submit ("Delete task") %>
</div>
<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>